// fonts
$font-Alexandria: "Alexandria", sans-serif;
// fonts

// colors
$color-body: #FAFAFA;
$color-white: #FFFFFF;
$color-white-40: #FFFFFF66;
$color-white-50: #FFFFFF80;
$color-white-75: #FFFFFFBF;
$color-white-85: #FFFFFFD9;
$color-white-30: #B2B7BC;
$color-under: #0D2030;
$color-under-75: #0D2030BF;
$color-blue-light: #E1E8F0;
$color-blue-dark: #202B77;
$color-coral: #F7C033;
$color-dark: #0D2030;
// colors
