// about_section
.about_section {
  padding: 6.25rem 0 0 0;

  @include media('lg') {
    padding: 1.875rem 0 0 0;
  }

  &_bottom {
    margin-top: 4.375rem;

    @include media('lg') {
      margin-top: 0;
    }

    .about_statistics {

      .container {
        padding: 2.3125rem 0;
        border-top: 0.0625rem solid #0D20300D;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include media('xl') {
          padding: 2.3125rem 1.25rem;
          grid-template-columns: repeat(2, 1fr);
          border: none;
        }

        @include media('md') {
          padding: 2.5rem 0 0.75rem 0;
        }
      }

      .about_statistic_block {
        position: relative;

        img {
          width: 3.5rem;
          height: 3.5rem;
          flex-shrink: 0;

          @include media('md') {
            width: 2.25rem;
            height: 2.25rem;
          }
        }

        .statistic_line {
          position: absolute;
          right: 1.875rem;
          top: 0;
          bottom: 0;
          margin: auto;

          @include media('xl') {
            display: none;
          }
        }
      }

      .about_statistic_block {
        display: flex;
        align-items: start;
        gap: 1.9375rem;

        @include media('md') {
          flex-direction: column;
          gap: 0.75rem;
          align-items: center;
          text-align: center;
        }
      }

      h6 {
        font-size: 2.625rem;
        font-weight: 300;
        line-height: 3.2rem;
        color: $color-dark;

        @include media('md') {
          font-size: 1.5rem;
          line-height: 1.8125rem;
          margin-bottom: 0.75rem;
        }
      }

      p {
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.755rem;
        letter-spacing: -0.02em;
        color: $color-under-75;

        @include media('md') {
          font-size: 0.75rem;
          line-height: 1.125rem;
        }
      }
    }
  }

  .container {
    display: flex;
    align-items: start;
    gap: 1.5rem;

    @include media('lg') {
      flex-direction: column;
      align-items: center;
    }

    h3 {
      font-size: 2.625rem;
      font-weight: 500;
      line-height: 2.8875rem;
      letter-spacing: -0.04em;
      color: $color-dark;

      @include media('lg') {
        font-size: 1.5rem;
        line-height: 1.625rem;
      }

      span {
        display: block;
        color: $color-under-75;
      }
    }

    p {
      font-size: 1.125rem;
      font-weight: 300;
      line-height: 2.025rem;
      letter-spacing: -0.02em;
      color: $color-dark;

      @include media('lg') {
        font-size: 0.75rem;
        line-height: 1.3125rem;
      }
    }
  }

  .section_title {
    margin-bottom: 4.8125rem;

    @include media('md') {
      margin-bottom: 1.3125rem;
    }
  }

  &_left {
    width: 31.4375rem;
    flex-shrink: 0;

    @include media('md') {
      width: 100%;
    }

    &_img {
      display: flex;
      gap: 0.5625rem;

      @include media('md') {
        gap: 0.375rem;
      }

      @include media('md') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      &_right {
        display: flex;
        flex-direction: column;
        gap: 0.5625rem;

        @include media('md') {
          gap: 0.375rem;
        }
      }
    }

    .about_section_img1 {
      height: 31.8125rem;

      @include media('xs') {
        height: 20.4375rem;
      }
    }

    .about_section_img2 {
      height: 14.9375rem;

      @include media('xs') {
        height: 9.5625rem;
      }
    }

    .about_section_img3 {
      height: 20.125rem;

      @include media('xs') {
        height: 12.9375rem;
      }
    }

    img {
      border-radius: 0.25rem;
      object-fit: cover;
      min-width: 15.4375rem;
      flex-shrink: 0;

      @include media('md') {
        min-width: 100%;
      }
    }
  }

  .tabs-container {
    .content {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &_tabs {
    margin: 2.3125rem 0 4.0625rem 0;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 0.75rem;
    border-bottom: 0.0625rem solid #D9D9D94D;

    @include media('lg') {
      margin: 1.3125rem 0;
    }

    button {
      font-size: 0.9375rem;
      font-weight: 300;
      line-height: 1.143125rem;
      letter-spacing: -0.04em;
      color: $color-under-75;
      position: relative;

      @include media('lg') {
        font-size: 0.75rem;
        line-height: 0.875rem;
      }

      &::before {
        content: '';
        position: absolute;
        bottom: -0.8125rem;
        background: $color-coral;
        height: 0.0625rem;
        border-radius: 0.25rem;
        width: 0%;
        @include transition();
      }

      &:hover {
        color: $color-dark;

        &::before {
          width: 100%;
        }
      }

      &.active {
        color: $color-dark;

        &::before {
          width: 100%;
        }
      }
    }
  }

  &_btns {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-top: 4.5625rem;

    @include media('lg') {
      gap: 0.5rem;
      margin-top: 1.25rem;
    }

    a {
      border: 0.0625rem solid #0D203026;
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      gap: 0.4375rem;
      font-size: 1.125rem;
      font-weight: 300;
      line-height: 1.37125rem;
      letter-spacing: -0.04em;
      color: $color-dark;
      padding: 1.25rem 2.375rem;
      @include transition();

      &::before {
        display: none;
      }

      @include media('lg') {
        gap: 0.5rem;
        padding: 0.75rem;
        flex: 1;
        justify-content: center;
        font-size: 0.75rem;
        line-height: 0.875rem;
      }

      svg {
        path {
          @include transition();
        }

        @include media('lg') {
          width: 0.75rem;
          height: 0.75rem;
        }
      }

      &:hover {
        background: #302470;
        border: 0.0625rem solid #FFFFFF26;
        color: $color-white;

        svg {
          path {
            stroke: $color-white;
          }

          &:last-child {
            transform: translateX(12.5rem);
          }

          &:nth-child(1) {
            left: 2.1875rem;

            @include media('lg') {
              left: 40%;
            }

            @include media('md') {
              left: 30%;
            }

            @include media('xs') {
              left: 1.875rem;
            }
          }
        }
      }
    }
  }
}
// about_section
