// fleet
.fleet {
  &_tabs {
    padding: 1.875rem 0;
    display: flex;
    align-items: center;
    gap: 1.625rem;

    @include media('lg') {
      padding: 1.25rem 0 0.75rem 0;
    }

    @include media('md') {
      justify-content: space-between;
    }

    a {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.65rem;
      letter-spacing: -0.04em;
      color: #0d203080;
      display: flex;
      align-items: start;
      flex-direction: row;

      @include media('lg') {
        font-size: 1rem;
        line-height: 1.0625rem;
      }

      sup {
        font-size: 0.75rem;
        line-height: 0.75rem;
        transform: translateY(0.5rem);
        margin-left: 0.25rem;
      }

      &.active {
        color: $color-under;
      }
    }
  }

  &_date {
    padding: 1.125rem 1.25rem;
    border-radius: 0.25rem;
    background: $color-blue-dark-2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.0625rem solid $color-coral;
    margin-bottom: 1.875rem;

    @include media('lg') {
      padding: 0.875rem;
    }

    &_right {
      @include media('lg') {
        text-align: right;
      }
    }

    span {
      font-size: 0.9375rem;
      font-weight: 500;
      line-height: 1.03125rem;
      letter-spacing: -0.04em;
      color: $color-white;

      @include media('lg') {
        font-size: 0.75rem;
        line-height: 0.8125rem;
      }
    }

    h6 {
      font-size: 2.25rem;
      font-weight: 400;
      line-height: 2.475rem;
      letter-spacing: -0.04em;
      color: $color-white;
      margin-top: 0.25rem;

      @include media('lg') {
        font-size: 1.5rem;
        line-height: 1.625rem;
      }
    }
  }

  &_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.0625rem;

    @include media('lg') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('md') {
      grid-template-columns: repeat(1, 1fr);
      gap: 1.25rem;
    }
  }

  &_card {
    background: $color-white;
    border-radius: 0.25rem;
    border: 0.0625rem solid $color-blue-light;
    overflow: hidden;

    .line {
      height: 0.0625rem;
      width: 100%;
      background: #0d20300d;
    }

    &:hover {
      .fleet_card_img_block {
        .fleet_card_img {
          transform: scale(1.1);
        }
      }

      .main_btn {
        svg {
          path {
            transition: 0.3s ease;
            stroke: $color-white;
          }

          &:last-child {
            transform: translateX(18.75rem);
          }

          &:nth-child(1) {
            left: 33%;

            @include media('lg') {
              left: 35%;
            }

            @include media('md') {
              left: 40%;
            }

            @include media('xs') {
              left: 30%;
            }
          }
        }

        span {
          color: $color-white;
          transform: translateX(1.25rem);

          @include media('lg') {
            transform: translateX(0.9375rem);
          }
        }

        &::before {
          height: 100%;
        }
      }
    }

    &_img_block {
      overflow: hidden;
      height: 14.375rem;

      .fleet_card_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include transition();
      }
    }

    &_content {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      padding: 1.25rem;
    }

    h6 {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.65rem;
      letter-spacing: -0.04em;
      color: $color-under;

      @include media('lg') {
        font-size: 0.875rem;
        line-height: 0.9375rem;
      }
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    span {
      font-size: 0.9375rem;
      font-weight: 300;
      line-height: 1.3125rem;
      letter-spacing: -0.02em;
      color: $color-under-75;

      @include media('lg') {
        font-size: 0.75rem;
        line-height: 0.875rem;
      }
    }

    b {
      font-size: 0.9375rem;
      font-weight: 400;
      line-height: 1.3125rem;
      letter-spacing: -0.02em;
      color: $color-under;

      @include media('lg') {
        font-size: 0.75rem;
        line-height: 0.875rem;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    &_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4375rem;
      border-radius: 0.5rem;
      padding: 1.25rem;
      border: 0.0625rem solid #0d20300d;
      @include transition();

      @include media('lg') {
        height: 2.5rem;
      }

      span {
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.37125rem;
        letter-spacing: -0.04em;
        color: $color-under;
        transition: 0.2s ease;

        @include media('lg') {
          font-size: 0.75rem;
          line-height: 0.875rem;
          padding: 0.8125rem;
          border-radius: 0.25rem;
        }
      }

      svg {
        @include media('lg') {
          width: 0.75rem;
          height: 0.75rem;
        }
      }
    }
  }
}

// fleet

.info-page {
  .fleet_cards {
    width: 100%;
    display: block;
    margin: 2.5rem 0;
  }

  .fleet_card {
    display: flex;
    align-items: stretch;

    @include media('md') {
      flex-direction: column;
      align-items: start;
    }
  }

  .fleet_card_img_block {
    width: 50rem;
    height: unset;

    @include media('md') {
      height: 12.5rem;
      width: 100%;
    }
  }

  .fleet_card_content {
    width: 100%;
  }
}
.fleet_card_swiper {
  height: 100%;
  width: 100%;
  .swiper-slide {
    overflow: hidden;
  }
}
