.footer {
  margin-bottom: 1.25rem;

  &_logo {
    display: flex;
    width: 13.5rem;

    img {
      width: 100%;
    }

    @include media('lg') {
      width: 11.625rem;
    }
  }

  &_top {
    border: 0.0625rem solid $color-blue-light;
    border-radius: 0.25rem;
    background-color: $color-white;
    padding: 1.75rem 2.5rem;
    margin-bottom: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media('lg') {
      padding: 1.25rem 0.9375rem;
      border-radius: 0.125rem;
    }

    .line {
      @include media('lg') {
        display: none;
      }
    }

    ul {
      display: flex;
      gap: 1.5rem;
      align-items: center;

      @include media('lg') {
        gap: 0.375rem;
      }

      a {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        align-items: center;
        @include transition();

        &:hover {
          opacity: .7;
        }

        @include media('lg') {
          width: 1.75rem;
          height: 1.75rem;
        }
      }

      span {
        font-size: 0.75rem;
        font-weight: 300;
        line-height: 0.914375rem;
        letter-spacing: -0.04em;
        text-align: center;
        color: $color-dark;

        @include media('lg') {
          display: none;
        }
      }
    }
  }

  &_bottom {
    border-radius: 0.25rem;
    overflow: hidden;
    padding: 2.5rem;
    // background-image: url('../images/footer_bg.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .footer_video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &_bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(13, 32, 48, 0.6) 0%, #0D2030);
    }

    @include media('lg') {
      padding: 0.9375rem;
      border-radius: 0;
      grid-template-columns: repeat(1, 1fr);

      &::before {
        display: none;
      }
    }

    .footer_vector {
      position: absolute;
      bottom: 0.375rem;
      right: -2.5625rem;
      width: 26.8125rem;

      @include media('lg') {
        display: none;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: -2.5rem;
      right: 0;
      margin: auto;
      top: 0.6875rem;
      z-index: 3;
      width: 0.0625rem;
      height: calc(100% - 1.375rem);
      background-color: #FFFFFF0A;
      border-radius: 0.125rem;
    }
  }

  &_title {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.475rem;
    letter-spacing: -0.04em;
    color: $color-white;
    position: relative;

    @include media('lg') {
      font-size: 1.5rem;
      line-height: 1.625rem;

      &::before {
        display: none;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: -1.8125rem;
      bottom: -3.5rem;
      margin: auto;
      height: 0.0625rem;
      width: calc(100%);
      background-color: #FFFFFF0A;
      border-radius: 0.125rem;
    }

    span {
      display: block;
      color: $color-white-75;
    }
  }

  &_contacts {
    display: flex;
    flex-direction: column;
    gap: 2.125rem;
    margin-top: 7.0625rem;
    padding-bottom: 3.75rem;
    position: relative;

    @include media('lg') {
      gap: 1.25rem;
      margin-top: 1.25rem;
      padding-bottom: 1.5rem;
    }

    &::before {
      content: '';
      position: absolute;
      left: -1.8125rem;
      bottom: 0;
      margin: auto;
      height: 0.0625rem;
      width: calc(100%);
      background-color: #FFFFFF0A;
      border-radius: 0.125rem;

      @include media('lg') {
        left: 0;
        right: 0;
      }
    }

    span {
      color: $color-white-40;
      font-size: 0.9375rem;
      font-weight: 600;
      line-height: 1.03125rem;
      letter-spacing: -0.04em;
      display: block;
      margin-bottom: 1rem;

      @include media('lg') {
        margin-bottom: 0.5rem;
        font-size: 0.625rem;
        line-height: 0.875rem;
      }
    }

    li,
    a {
      font-size: 1.0625rem;
      font-weight: 300;
      line-height: 1.4875rem;
      letter-spacing: -0.02em;
      color: $color-white-85;
      text-transform: uppercase;

      @include media('lg') {
        font-size: 0.6875rem;
        line-height: 0.9375rem;
      }
    }
  }

  &_links {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1.25rem;

    @include media('lg') {
      margin-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    ul {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 1.4375rem;

      @include media('lg') {
        gap: 0.75rem;
      }
    }

    li {
      display: flex;
      align-items: start;
    }

    span {
      font-size: 0.9375rem;
      font-weight: 600;
      line-height: 1.03125rem;
      letter-spacing: -0.04em;
      color: $color-white-40;

      @include media('lg') {
        font-size: 0.625rem;
        line-height: 0.6875rem;
      }
    }

    a {
      font-size: 1.0625rem;
      font-weight: 400;
      line-height: 1.295rem;
      letter-spacing: -0.04em;
      color: $color-white-85;
      @include transition();
      border-bottom: 0.0625rem solid transparent;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: -0.125rem;
        background: $color-white;
        height: 0.0625rem;
        border-radius: 0.25rem;
        width: 0%;
        @include transition();
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }

      @include media('lg') {
        font-size: 0.625rem;
        line-height: 0.6875rem;
      }
    }
  }

  &_contact_bottom {
    padding-top: 3.5rem;
    display: flex;
    align-items: center;
    gap: 2.5625rem;
    position: relative;
    z-index: 3;

    @include media('lg') {
      position: relative;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      justify-content: space-between;
      gap: 0.9375rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        height: 0.0625rem;
        width: calc(100%);
        background-color: #FFFFFF0A;
        border-radius: 0.125rem;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 0.0625rem;
        width: calc(100%);
        background-color: #FFFFFF0A;
        border-radius: 0.125rem;
      }
    }

    a {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.37125rem;
      letter-spacing: -0.04em;
      color: $color-white-85;

      @include media('lg') {
        font-size: 0.75rem;
        line-height: 0.875rem;
        color: $color-white-50;
      }
    }

    .dote {
      width: 0.125rem;
      height: 0.125rem;
      border-radius: 50%;
      background: $color-white;

      @include media('lg') {
        background: $color-white-50;
      }
    }
  }

  &_end {
    position: relative;
    z-index: 2;
    padding-top: 3.75rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.875rem;
    justify-content: space-between;

    @include media('lg') {
      padding-top: 1.5rem;
      flex-direction: column;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 1.875rem;
    }

    li {
      display: flex;
      align-items: start;
    }

    a,
    span {
      font-size: 0.9375rem;
      font-weight: 400;
      line-height: 1.143125rem;
      letter-spacing: -0.04em;
      color: $color-white-40;

      @include media('lg') {
        font-size: 0.75rem;
        line-height: 0.875rem;
      }
    }
  }
}