// news
.news {
  margin-top: 1.875rem;

  @include media('lg') {
    margin-top: 1.25rem;
  }

  .container {
    display: flex;
    gap: 1.5rem;
    overflow: visible;
    position: relative;

    @include media('lg') {
      gap: 1.25rem;
      flex-direction: column;
    }
  }

  .breadcrumb {
    padding-left: 0;
    padding-bottom: 1.875rem;
    border-bottom: 0.0625rem solid #E9EBEC;

    @include media('lg') {
      padding-bottom: 1.25rem;
    }

    a,
    li {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.066875rem;
      letter-spacing: -0.04em;
      color: $color-under;

      @include media('lg') {
        font-size: 0.75rem;
        line-height: 0.875rem;
      }
    }

    li {
      list-style-type: none;
      padding-left: 0;
    }

    a {
      color: #838D95;
    }
  }

  &_left {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;

    @include media('lg') {
      gap: 1.25rem;
      padding-bottom: 1.25rem;
      border-bottom: 0.0625rem solid #E9EBEC;
    }

    ul {
      padding-left: 1.25rem;

      span {
        transform: translateX(-1.25rem);
      }
    }

    li {
      list-style-type: disc;
    }

    h3 {
      font-size: 2.625rem;
      font-weight: 500;
      line-height: 2.8875rem;
      letter-spacing: -0.04em;
      color: $color-under;

      @include media('lg') {
        font-size: 1.5rem;
        line-height: 1.625rem;
      }
    }

    h6 {
      font-size: 2rem;
      font-weight: 400;
      line-height: 2.2rem;
      letter-spacing: -0.04em;
      color: $color-under;

      @include media('lg') {
        font-size: 1rem;
        line-height: 1.0625rem;
      }
    }

    p,
    li,
    span {
      font-size: 1.125rem;
      font-weight: 300;
      line-height: 2.025rem;
      color: $color-under;

      @include media('lg') {
        font-size: 0.75rem;
        line-height: 1.3125rem;
      }
    }

    b {
      font-weight: 400;
    }
  }

  &_right {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
    position: sticky;
    top: 1.25rem;
    height: 100%;

    h4 {
      margin-bottom: 0.625rem;
      width: 100%;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.2375rem;
      letter-spacing: -0.04em;
      color: $color-under;
      padding-bottom: 1.6875rem;
      border-bottom: 0.0625rem solid #E9EBEC;

      @include media('lg') {
        padding-bottom: 1.25rem;
        margin-bottom: 0;
        border-bottom: 0.0625rem solid #E9EBEC;
      }
    }
  }

  &_block {
    min-width: 24.8125rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    @include media('lg') {
      min-width: 100%;
      gap: 0.75rem;
    }

    &_img {
      min-width: 11.625rem;
      border-radius: 0.125rem;
      flex-shrink: 0;

      @include media('lg') {
        min-width: 9.625rem;
        max-width: 9.625rem;
      }

      img {
        width: 100%;
      }
    }

    span {
      font-size: 0.625rem;
      font-weight: 500;
      line-height: 0.630625rem;
      letter-spacing: -0.02em;
      color: #26262699;

      @include media('lg') {
        font-size: 0.5625rem;
        line-height: 0.5625rem;
      }
    }

    h6 {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.54rem;
      color: $color-under;
      margin: 0.5rem 0;

      @include media('lg') {
        font-size: 0.8125rem;
        line-height: 0.9375rem;
      }
    }

    p {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 0.929375rem;
      letter-spacing: -0.04em;
      color: $color-under-75;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &_img {
    width: 100%;
    position: relative;
    border-radius: 0.25rem;
    overflow: hidden;

    @include media('md') {
      height: 18.75rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #000000, $alpha: 0.5);
    }

    img {
      width: 100%;
      height: 100%;

      @include media('lg') {
        object-fit: cover;
      }
    }
  }
}
// news
