// home
.home {
  .container {
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    @include media('xl') {
      max-width: 100%;
      padding: 0;
      border-radius: 0;
    }
  }

  .homeSwiper {
    height: 100%;

    .swiper-slide {
      height: auto;
    }

    .swiper-notification {
      display: none;
    }
  }

  .home_in {
    position: relative;
    height: 100%;

    &_dark {
      background: #000;

      .home_in_bg {
        display: none;
      }
    }

    .home_img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &_bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: linear-gradient(270deg, rgba(13, 32, 48, 0) 0%, #0D2030 100%);
    }

    &_text {
      padding: 150px 25px 189px ;
      position: relative;
      z-index: 2;

      @include media('lg') {
        padding: 130px 20px;
      }

      .home_icon {
        @include media('lg') {
          display: none;
        }
      }

      h3 {
        margin: 15px 0 36px 0;
        font-size: 56px;
        font-weight: 600;
        line-height: 61.6px;
        letter-spacing: -0.04em;
        color: #FFFFFFBF;

        @include media('lg') {
          font-size: 28px;
          line-height: 30px;
          margin-bottom: 11px;
        }

        span {
          color: $color-white;
          display: block;

          @include media('lg') {
            display: inline;
          }
        }
      }

      p {
        max-width: 610px;
        font-size: 18px;
        font-weight: 300;
        line-height: 28.08px;
        letter-spacing: -0.02em;
        color: #FFFFFFD9;
        margin-bottom: 36px;

        @include media('lg') {
          font-size: 12px;
          line-height: 18px;
          max-width: 100%;
          margin-bottom: 11px;
        }
      }

      a {
        width: max-content;
        border-radius: 4px;
        padding: 20px 40px;
        font-size: 18px;
        font-weight: 300;
        line-height: 21.94px;
        letter-spacing: -0.04em;
        display: flex;
        align-items: center;
        gap: 8px;
        color: $color-white;
        @include transition();
        border: 1px solid #FFFFFF26;
        backdrop-filter: blur(18px);

        @include media('lg') {
          font-size: 12px;
          line-height: 14px;
          padding: 12px 20px;
        }

        &:hover {
          color: $color-white;
          background: #302470;
        }
      }
    }

  }

  .fleet_btns {
    position: absolute;
    bottom: 25px;
    left: 25px;

    @include media('xl') {
      left: 50px;
    }

    @include media('lg') {
      display: none;
    }
  }

  .home-pagination {
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    margin: auto;
    background: transparent;
    width: 60px;
    height: calc(100% - 80px);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media('lg') {
      width: 100%;
      flex-direction: row;
      justify-content: center;
      gap: 2px;
      bottom: 15px;
      left: 0;
      height: 3px;
      right: 0;
      margin: auto;
      top: auto;
      align-items: end;
    }

    .swiper-pagination-bullet {
      flex: 1;
      border-radius: 2px;
      width: 100%;
      height: 100%;
      background: transparent;
      opacity: 1;
      position: relative;
      @include transition();
      margin: 0;

      @include media('lg') {
        flex: none;
        width: 3px;
        height: 3px;
        background: #FFFFFF26;
        border-radius: 50%;
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40px;
        height: 1px;
        background: #FFFFFF80;

        @include media('lg') {
          display: none;
        }
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 7px;
        height: 100%;
        background: #FFFFFF26;

        @include media('lg') {
          display: none;
        }
      }

    }

    .swiper-pagination-bullet-active {
      background: transparent;

      @include media('lg') {
        width: 10px;
        height: 3px;
        background: $color-white;
        border-radius: 6px;
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 15px;
        height: 100%;
        background: #FFFFFF80;
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: #FFFFFF80;
      }
    }
  }
}
// home

// company
.company {
  height: 720px;

  @include media('lg') {
    height: 546px;
  }

  .section_title {
    align-items: start;
  }

  .container {
    height: 100%;
    position: relative;
    padding: 124px 60px;
    background: $color-dark;

    @include media('lg') {
      padding: 30px 20px;
    }
  }

  .company_bg {
    position: absolute;
    top: -157px;
    right: -194px;
    min-width: 1036px;
    min-height: 659px;
    flex-shrink: 0;

    @include media('lg') {
      min-width: 460px;
      right: -134px;
      top: 35px;
      min-height: 293px;
    }
  }

  .fleet_btns {
    bottom: 296px;

    @include media('lg') {
      bottom: 112px;
    }

    @include media('md') {
      position: absolute;
    }
  }

  p {
    margin: 65px 0 32px 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 32.4px;
    letter-spacing: -0.02em;
    color: #FFFFFFD9;
    max-width: 752px;

    @include media('lg') {
      font-size: 12px;
      line-height: 21px;
      margin: 172px 0 0 0;
    }
  }

  .companySwiper {
    position: absolute;
    bottom: 60px;
    left: 60px;
    width: 100%;
    height: 158px;
    padding-left: 60px;

    @include media('lg') {
      padding-left: 0;
      bottom: 30px;
      left: 30px;
      height: 50px;
    }

    h6 {
      font-size: 72px;
      font-weight: 500;
      line-height: 79.2px;
      letter-spacing: -0.04em;
      color: #FFFFFF1A;
      color: transparent;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #FFFFFF1A;
      @include transition();

      @include media('lg') {
        font-size: 32px;
        line-height: 25px;
      }
    }

    .swiper-slide {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
    }

    .swiper-slide-active {
      h6 {
        font-size: 144px;
        font-weight: 500;
        line-height: 158.4px;
        letter-spacing: -0.04em;
        color: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px $color-white;

        @include media('lg') {
          font-size: 72px;
          line-height: 79px;
        }
      }
    }
  }
}
// company

// achived
.achived {

  .container {
    display: flex;

    @include media('lg') {
      padding: 0;
      flex-direction: column;
    }
  }

  &_left {
    background: #2C1F6C;
    padding: 60px;
    width: 527px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media('lg') {
      width: 100%;
      padding: 30px 20px;
    }

    p {
      display: flex;
      font-size: 18px;
      font-weight: 400;
      line-height: 25.2px;
      letter-spacing: -0.02em;
      color: $color-white;
      margin: 38px 0;

      @include media('lg') {
        font-size: 12px;
        line-height: 14px;
        margin: 20px 0;
      }
    }
  }

  &_right {
    width: 713px;
    padding: 60px;
    background: #302470;
    position: relative;

    @include media('lg') {
      width: 100%;
      padding: 20px;
    }

    &_line {
      display: flex;
      flex-direction: column;
      gap: 78px;

      @include media('lg') {
        gap: 84px;
      }

        li {
          display: flex;
          align-items: center;

          p {
            font-size: 18px;
            font-weight: 300;
            line-height: 25.2px;
            letter-spacing: -0.02em;
            color: #FFFFFFD9;
            display: flex;
            align-items: center;

            @include media('lg') {
              font-size: 12px;
              line-height: 14px;
            }

            span {
              color: #FFFFFF40;
            }
          }

          .line {
            width: 100%;
            background: #FFFFFF0D;
            height: 1px;

            @include media('lg') {
              display: block;
            }
          }
        }
    }

    &_blocks {
      display: flex;
      align-items: end;
      justify-content: space-between;
      gap: 20px;
      position: absolute;
      inset: 60px;
      bottom: 73px;
      padding-right: 75px;

      @include media('lg') {
        inset: 20px;
      }

      @include media('xs') {
        gap: 10px;
        padding-right: 40px;
      }

      li {
        width: 80px;
        padding: 14px 20px;
        border: 1px solid #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background: #302470;

        @include media('lg') {
          width: 60px;
          padding: 18px 12px 14px 12px;
        }

        @include media('xs') {
          width: 50px;
          padding: 12px;
        }
      }

      .one {
        height: 45%;
      }

      .two {
        height: 97%;

        @include media('lg') {
          height: 99%;
        }
      }

      .three {
        height: 79%;
      }

      .four {
        height: 49%;

        @include media('lg') {
          height: 50%;
        }
      }

      span {
        white-space: nowrap;
        color: $color-coral;
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        letter-spacing: -0.02em;

        @include media('lg') {
          font-size: 14px;
          line-height: 16px;
        }

        b {
          font-weight: 300;
          color: #FFFFFF40;
        }
      }

      p {
        font-size: 15px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: -0.02em;
        color: #FFFFFFD9;
        writing-mode: vertical-lr;
        transform: rotate(180deg);

        @include media('lg') {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }

  &_bottom {
    display: flex;
    align-items: center;
    gap: 12px;

    .archived_icon {
      @include media('lg') {
        width: 40px;
        height: 40px;
      }
    }

    .archived_line {
      @include media('lg') {
        width: 6px;
        height: 32px;
      }
    }

    h6 {
      font-size: 22px;
      font-weight: 500;
      line-height: 24.2px;
      letter-spacing: -0.02em;
      color: $color-coral;

      @include media('lg') {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
}
// achived

// fleet
.fleet_section {
  height: 509px;

  @include media('md') {
    background: #0D2030;
    height: auto;
    padding: 30px 20px;
  }

  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(13, 32, 48, 0) 0%, #0D2030 100%);

    @include media('md') {
      display: none;
    }
  }

  .section_title {
    position: absolute;
    top: 60px;
    left: 60px;
    z-index: 4;
    color: $color-coral;

    @include media('lg') {
      top: 30px;
      left: 20px;
    }

    @include media('md') {
      display: block;
      position: static;
      margin-bottom: 17px;
    }
  }

  .container {
    height: 100%;
    position: relative;
    border-radius: 0 0 4px 4px;
    overflow: hidden;

    @include media('lg') {
      padding: 0;
    }
  }

  .fleetSwiper {
    height: 100%;
  }

  .fleet_block {
    padding: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media('lg') {
      padding: 30px 20px;
    }

    @include media('md') {
      padding: 0;
    }
  }

  .fleet_block_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include media('md') {
      display: block;
      position: static;
    }

    @include media('xs') {
      height: 159px;
    }
  }

  &_btns {
    display: flex;
    gap: 12px;
    position: absolute;
    bottom: 60px;
    left: 60px;
    z-index: 4;

    @include media('lg') {
      bottom: 30px;
      left: 20px;
    }

    @include media('md') {
      display: flex;
      position: static;
    }
  }

  h6 {
    position: relative;
    z-index: 4;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    letter-spacing: 0.24em;
    color: $color-white;
    margin-bottom: 20px;

    @include media('lg') {
      font-size: 14px;
      line-height: 16px;
    }

    @include media('md') {
      margin-top: 20px;
    }
  }

  ul {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 291px;

    @include media('md') {
      margin-bottom: 20px;
      max-width: 100%;
    }

    li {
      height: 11px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      span {
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: -0.02em;
        color: #FFFFFFD9;

        @include media('md') {
          font-size: 12px;
          line-height: 14px;
        }
      }

      p {
        text-align: right;
        font-size: 15px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: -0.02em;
        color: $color-white;

        @include media('md') {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
}
// fleet

// radar
.radar {

  &_top {
    margin: 80px 0;
    display: flex;
    gap: 10px;

    @include media('lg') {
      margin: 30px 0;
    }

    @include media('md') {
      flex-direction: column;
    }
  }

  &_left {
    width: 347px;
    flex-shrink: 0;

    @include media('md') {
      width: 100%;
    }

    h6 {
      font-size: 42px;
      font-weight: 600;
      line-height: 46.2px;
      letter-spacing: -0.04em;
      color: $color-dark;
      margin: 32px 0 36px 0;

      br {
        @include media('lg') {
          display: none;
        }
      }

      @include media('lg') {
        font-size: 24px;
        line-height: 26px;
        margin: 20px 0;
      }
    }

    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 32.4px;
      letter-spacing: -0.02em;
      color: $color-under-75;

      @include media('lg') {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  &_right {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;

    @include media('md') {
      height: 300px;
    }
  }

  &_btns {
    display: flex;
    align-items: center;
    margin-top: 33px;

    @include media('lg') {
      margin-top: 20px;
    }

    button {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 99px;
      height: 99px;
      border: 1px solid #E1E8F0;
      background: $color-white;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .1s ease;

      &:hover {
        img {
          transform: scale(1.2);
        }
      }

      &.active {
        background: #302470;

        span {
          color: $color-white;
        }

        &:hover {
          img {
            transform: scale(1);
          }
        }
      }

      @include media('lg') {
        width: 50px;
        height: 50px;
        gap: 2px;
      }

      img {
        width: 38px;
        flex-shrink: 0;
        @include transition();

        @include media('lg') {
          width: 20px;
        }
      }

      span {
        font-size: 15px;
        font-weight: 400;
        line-height: 23.4px;
        letter-spacing: -0.02em;
        color: $color-under-75;
        @include transition();

        @include media('lg') {
          font-size: 10px;
          line-height: 10px;
        }
      }
    }
  }

  &_lists {
    border: 1px solid #E1E8F0;

    @include media('md') {
      display: none;
    }

    span {
      font-size: 15px;
      font-weight: 400;
      line-height: 20.53px;
      color: $color-dark;
    }

    &_head {
      height: 56px;
      padding: 18px;
      display: flex;
      align-items: center;
      gap: 10px;
      background: $color-coral;
      border-bottom: 1px solid #E1E8F0;
    }

    &_body {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 56px;
      padding: 18px;

      &:nth-child(even) {
        background: $color-white;
      }
    }

    .number {
      flex-shrink: 0;
      width: 110px;
    }

    .name {
      width: 262px;
    }
  }

  &_lists_media {
    display: none;
    flex-direction: column;
    gap: 20px;

    @include media('md') {
      display: flex;
    }

    &_block {
      border: 1px solid #E1E8F0;
      background: $color-white;
    }

    &_head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $color-coral;
      padding: 12px;
    }

    &_body {
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
        height: 1px;
        width: calc(100% - 24px);
        background: #F0F3F7;
      }


      &:last-child {
        &::before {
          display: none;
        }
      }
    }

    &_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      font-size: 12px;
      font-weight: 300;
      line-height: 14.63px;
      letter-spacing: -0.04em;
      color: $color-white;
      border: 1px solid #FFFFFF26;
      border-radius: 4px;
      background: #302470;
      padding: 12px;
      @include transition();

      svg {
        path {
          @include transition();
        }
      }

      &:hover {
        background: transparent;
        border: 1px solid $color-dark;
        color: $color-dark;

        svg {
          path {
            stroke: $color-dark;
          }
        }
      }
    }

    li {
      height: 41px;
    }

    span {
      font-size: 12px;
      font-weight: 400;
      line-height: 16.43px;
      color: $color-dark;
    }
  }
}
// radar

// news_section
.news_section {
  padding: 40px 0 58px 0;

  @include media('lg') {
    padding: 30px 0;
  }

  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background:rgba(7, 17, 26, 0.7);
  }

  h3 {
    font-size: 42px;
    font-weight: 600;
    line-height: 46.2px;
    letter-spacing: -0.04em;
    color: $color-under-75;
    margin: 32px 0 35px 0;

    @include media('lg') {
      margin: 20px 0 28px 0;
      font-size: 24px;
      line-height: 26px;
    }

    span {
      color: $color-dark;

      @include media('lg') {
        display: block;
      }
    }
  }

  &_blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 4px;
    overflow: hidden;

    @include media('lg') {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &_left {
    padding: 36px;
    border: 1px solid #E1E8F0;
    border-radius: 4px 0 0 4px;

    @include media('lg') {
      border-radius: 4px 4px 0 0;
      padding: 12px;
    }
  }

  &_right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px;

    @include media('lg') {
      padding: 12px;
    }

    span {
      font-size: 18px;
      font-weight: 500;
      line-height: 21.94px;
      color: #EBEEF3;
      border-radius: 3px;
      border: 1px solid #EBEEF3;
      position: relative;
      z-index: 2;
      width: max-content;
      padding: 4px 12px;
      text-transform: capitalize;

      @include media('lg') {
        font-size: 10px;
        line-height: 12px;
        padding: 8px 12px;
      }
    }

    p {
      position: relative;
      z-index: 2;
      font-size: 14px;
      font-weight: 400;
      line-height: 14.13px;
      color: $color-white;
      margin-bottom: 8px;

      @include media('lg') {
        margin-top: 216px;
        font-size: 10px;
        line-height: 10px;
      }
    }

    h6 {
      position: relative;
      z-index: 2;
      font-size: 36px;
      font-weight: 400;
      line-height: 43px;
      color: $color-white;

      @include media('lg') {
        font-size: 14px;
        line-height: 17px;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 60%;
    }
  }

  .news_block_img  {
    img {
      width: 248px;
      height: 150px;
      object-fit: cover;

      @include media('lg') {
        width: 248px;
        height: 128px;
      }
    }
  }

  .news_right {

    @include media('lg') {
      gap: 12px;
    }
  }
}
// news_section
