// office
.office {
  &_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;

    @include media('lg') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('md') {
      grid-template-columns: repeat(1, 1fr);
    }

  }

  &_card {
    padding: 20px;
    background: $color-white;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include media('lg') {
      gap: 20px;
    }

    .logo {
      width: 210px;
    }

    .line {
      height: 1px;
      width: 100%;
      background: #0D20300D;
    }

    h6 {
      font-size: 24px;
      font-weight: 300;
      line-height: 33.6px;
      letter-spacing: -0.02em;
      color: $color-under;
      margin-bottom: 16px;

      @include media('lg') {
        font-size: 16px;
        line-height: 22px;
      }
    }

    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 25.2px;
      letter-spacing: -0.02em;
      color: $color-under-75;

      @include media('lg') {
        font-size: 12px;
        line-height: 16px;
      }
    }

    &_bottom {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      span {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 18px;
        font-weight: 300;
        line-height: 25.2px;
        letter-spacing: -0.02em;
        color: $color-under;

        svg {
          @include media('lg') {
            width: 18px;
            height: 18px;
          }
        }

        @include media('lg') {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    &_btn {
      font-size: 18px;
      font-weight: 300;
      line-height: 21.94px;
      letter-spacing: -0.04em;
      color: $color-under;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border-radius: 4px;
      border: 1px solid #0D20300D;
      padding: 20px;
      @include transition();

      &:hover {
        svg {
          path {
            stroke: $color-white;
          }
        }
        
        flex-direction: row-reverse;
        color: $color-white;
        background: #302470;
        border: 1px solid #FFFFFF26
      }

      svg {
        path {
          @include transition();
        }

        @include media('lg') {
          width: 12px;
          height: 12px;
        }
      }

      @include media('lg') {
        padding: 12px;
        font-size: 12px;
        line-height: 14px;
      }
    }

  }
}
// office
