// office
.office {
  &_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.0625rem;

    @include media('lg') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('md') {
      grid-template-columns: repeat(1, 1fr);
    }

  }

  &_card {
    padding: 1.25rem;
    background: $color-white;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;

    @include media('lg') {
      gap: 1.25rem;
    }

    .logo {
      width: 13.125rem;
    }

    .line {
      height: 0.0625rem;
      width: 100%;
      background: #0D20300D;
    }

    h6 {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 2.1rem;
      letter-spacing: -0.02em;
      color: $color-under;
      margin-bottom: 1rem;

      @include media('lg') {
        font-size: 1rem;
        line-height: 1.375rem;
      }
    }

    p {
      font-size: 1.125rem;
      font-weight: 300;
      line-height: 1.575rem;
      letter-spacing: -0.02em;
      color: $color-under-75;

      @include media('lg') {
        font-size: 0.75rem;
        line-height: 1rem;
      }
    }

    &_bottom {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      span {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.575rem;
        letter-spacing: -0.02em;
        color: $color-under;

        svg {
          @include media('lg') {
            width: 1.125rem;
            height: 1.125rem;
          }
        }

        @include media('lg') {
          font-size: 0.75rem;
          line-height: 1rem;
        }
      }
    }

    &_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      border-radius: 0.25rem;
      border: 0.0625rem solid #0D20300D;
      padding: 1.25rem;
      @include transition();

      @include media('lg') {
        height: 2.5rem;
      }

      span {
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.37125rem;
        letter-spacing: -0.04em;
        color: $color-under;
        transition: .2s ease;

        @include media('lg') {
          font-size: 0.75rem;
          line-height: 0.875rem;
          padding: 0.8125rem;
          border-radius: 0.25rem;
        }
      }

      &:hover {
        svg {
          path {
            transition: .3s ease;
            stroke: $color-white;
          }

          &:last-child {
            transform: translateX(18.75rem);
          }

          &:nth-child(1) {
            left: 33%;

            @include media('lg') {
              left: 35%;
            }

            @include media('md') {
              left: 40%;
            }

            @include media('xs') {
              left: 30%;
            }
          }
        }

        span {
          color: $color-white;
          transform: translateX(1.25rem);

          @include media('lg') {
            transform: translateX(0.9375rem);
          }
        }

        &::before {
          height: 100%;
        }
      }

      svg {
        path {
          @include transition();
        }

        @include media('lg') {
          width: 0.75rem;
          height: 0.75rem;
        }
      }

      @include media('lg') {
        padding: 0.75rem;
        font-size: 0.75rem;
        line-height: 0.875rem;
      }
    }

  }
}

// office

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.show {
    display: flex;
  }

  @include media("md") {
    padding: 0.625rem;
  }

  &__content {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 1.875rem;
    border-radius: 0.5rem;
    max-width: 37.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    position: relative;

    @include media("md") {
      padding: 1.25rem;
    }

    #upload_pdf {
      padding: 0.625rem;
      border: 0.0625rem solid #ccc;
      border-radius: 0.25rem;
    }
  }

  &__close {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    width: 1.875rem;
    height: 1.875rem;

    span {
      width: 1.25rem;
      height: 0.125rem;
      background: #000;

      &:first-child {
        transform: rotate(-45deg);
      }

      &:last-child {
        transform: rotate(45deg);
        top: -1.125rem;
        position: relative;
      }
    }
  }

  .form_inputs_btns {
    width: 100%;
    margin-top: 0;
    padding: 0;

    button {
      width: 100%;
    }
  }
}