// policies_conservation
.policies_conservation {
  margin-top: 1.875rem;

  @include media('lg') {
    margin-top: 0;
  }

  .container {
    display: flex;
    gap: 1.5rem;

    @include media('lg') {
      gap: 0;
      flex-direction: column;
    }
  }

  .policies_conservation_container {
    @include media('lg') {
      padding: 0;
    }
  }

  &_blocks {
    margin-top: 0.9375rem;

    .container {
      display: flex;
      flex-direction: column;
      gap: 0.9375rem !important;
      padding: 0;
    }

    .policies_conservation_block {
      border-radius: 0.25rem;
      overflow: hidden;
      width: 100%;
      padding: 2.1875rem 1.875rem;
      background-image: url('../images/policies_block1.png');
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;

      &_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: linear-gradient(270deg, rgba(13, 32, 48, 0.3) 0%, #0D2030 100%);

        @include media('lg') {
          background: linear-gradient(270deg, rgba(13, 32, 48, 0.7) 0%, #0D2030 100%);
        }
      }
    }

    .two {
      background-image: url('../images/policies_block2.png');
    }

    .three {
      background-image: url('../images/policies_block3.png');
    }

    h6 {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.65rem;
      letter-spacing: -0.02em;
      color: $color-white;
      position: relative;
      z-index: 2;
    }
  }

  &_text {
    max-width: 38rem;

    .policies_conservation_blocks {
      display: none;

      .container {
        width: 100%;
      }

      .policies_conservation_block {
        padding: 2.375rem 1.875rem;
      }

      h6 {
        font-size: 1.125rem;
        line-height: 1.1875rem;
      }

      @include media('lg') {
        display: flex;
        width: 100%;
      }
    }

    @include media('lg') {
      max-width: 100%;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 1.875rem;
      padding: 0;

      @include media('lg') {
        gap: 1.25rem;
        padding: 0 1.25rem;
      }
    }

    p {
      font-size: 1.125rem;
      font-weight: 300;
      line-height: 2.025rem;
      letter-spacing: -0.02em;
      color: $color-under;

      @include media('lg') {
        font-size: 0.75rem;
        line-height: 1.3125rem;
      }
    }

    a {
      font-size: 1.125rem;
      font-weight: 300;
      line-height: 1.37125rem;
      letter-spacing: -0.04em;
      display: flex;
      align-items: center;
      gap: 0.5625rem;
      padding: 1.25rem 2.5rem;
      border-radius: 0.25rem;
      background: #302470;
      border: 0.0625rem solid #FFFFFF26;
      color: $color-white;
      width: max-content;

      svg {
        @include media('lg') {
          width: 1rem;
          height: 1rem;
        }
      }

      @include media('lg') {
        padding: 0.75rem 2.5rem;
        font-size: 0.75rem;
        line-height: 0.875rem;
      }
    }
  }

  &_left {
    width: 38rem;
    flex-shrink: 0;
    position: sticky;
    top: 1.25rem;
    height: 100%;

    @include media('lg') {
      width: 100%;
      margin-bottom: 1.25rem;
    }

    .policies_conservation_blocks {

      @include media('lg') {
        display: none;
      }
    }
  }

  .main_home {
    width: 100%;

    .container {
      padding: 0;
      width: 100%;
      display: block;
    }

    &_content {
      .policies_conservation_title {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.2rem;
        letter-spacing: -0.02em;
        color: $color-white;
        margin: 9.875rem 0 0 0;

        br {
          @include media('lg') {
            display: none;
          }
        }
      }
    }
  }
}
// policies_conservation
