// policies
.policies {
  &_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @include media('lg') {
      gap: 1.25rem;
    }

    @include media('md') {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &_card {
    position: relative;
    border-radius: 0.25rem;
    overflow: hidden;
    height: 38.25rem;

    @include media('xl') {
      height: 34.375rem;
    }

    @include media('lg') {
      height: 25rem;
    }

    @include media('xs') {
      height: 20rem;
    }

    &_text {
      width: 100%;
      padding: 1.875rem 0.3125rem 1.875rem 1.875rem;

      @include media('lg') {
        padding: 0.8125rem 0.625rem;
      }
    }

    &:hover {
      .policies_card_img {
        transform: scale(1);
        top: -10%;
      }
      .policies_card_bottom {
        background: #2C1F6C;
      }
    }

    .main_text {
      max-width: 100%;
    }

    h6 {
      font-size: 2rem;
      font-weight: 600;
      line-height: 2.2rem;
      letter-spacing: -0.04em;
      color: $color-white;
      margin-bottom: 1.25rem;

      @include media('lg') {
        font-size: 1rem;
        line-height: 1.0625rem;
        margin-bottom: 0.75rem;
      }
    }

    &_bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      background: $color-white-5;
      backdrop-filter: blur(1rem);
      @include transition();

      button {
        min-width: 6.8125rem;
        background: $color-blue-dark-2;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media('lg') {
          display: none;
        }
      }
    }
  }

  &_card_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include transition();
    transform: scale(1.2);
  }
}
// policies
