// sea
.sea {
  &_head {
    margin-bottom: 1.875rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include media('lg') {
      flex-direction: column;
      gap: 0.375rem;
      margin-bottom: 1.25rem;
    }

    &_input {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      @include media('lg') {
        gap: 0.375rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .form_inputs_block {
    width: 100%;
  }

  .form_inputs_btns {
    gap: 0.5rem;
    padding-top: 0;

    @include media('lg') {
      width: 100%;
      gap: 0.375rem;
    }

    button {
      white-space: nowrap;
      padding: 1.25rem;

      @include media('lg') {
        flex: 1;
        padding: 0.75rem;
      }
    }
  }

  &_list_in {
    overflow-x: scroll;

    @include media('lg') {
      padding: 0 1.25rem;
    }

    .container {
      @include media('lg') {
        padding: 0;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &_list {
    // width: 77.5rem;
    width: 100%;

    @include media('lg') {
      padding-right: 1.25rem;
    }

    &_head {
      border: 0.0625rem solid #E1E8F0;
      border-radius: 0.25rem;
      background: $color-white;
      padding: 1.0625rem 0.625rem;
      height: 3.875rem;
      display: flex;
      align-items: center;
      gap: 0.9375rem;
      margin-bottom: 0.5625rem;
      min-width: 805px;

      @include media('lg') {
        height: 2.5rem;
        padding: 0.5625rem 0.625rem;
      }

      span {
        white-space: nowrap;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.6875rem;
        letter-spacing: -0.02em;
        color: $color-under-75;

        @include media('lg') {
          font-size: 0.75rem;
          line-height: 1.3125rem;
        }
      }
    }

    &_body {
      padding: 1.0625rem 0.625rem;
      height: 3.875rem;
      display: flex;
      align-items: center;
      gap: 0.9375rem;
      margin-bottom: 0.5625rem;
      width: 100%;
      justify-content: space-between;

      &:nth-child(odd) {
        background: #F5F5F5;
      }

      span {
        white-space: nowrap;
        font-size: 0.9375rem;
        font-weight: 300;
        line-height: 1.6875rem;
        letter-spacing: -0.02em;
        color: $color-dark;
      }

      .flag {
        display: flex;
        align-items: center;
        gap: 0.625rem;
      }

      .sea_flag {
        width: 1.125rem;
        height: 1.125rem;
        flex-shrink: 0;
      }
    }

    .number {
      width: 1.25rem;
      flex-shrink: 0;
    }

    .name {
      width: 9.5625rem;
    }

    .card {
      width: 3.4375rem;
    }

    .flag {
      flex-shrink: 0;
      width: 6.5rem;
    }

    .duration {
      width: 5rem;
    }

    .type {
      width: 7.375rem;
    }

    .gt {
      width: 3.875rem;
    }

    .dwt {
      display: flex;
      align-items: center;
      gap: 0.4375rem;
      width: 3.9375rem;
    }

    .upcoming {
      display: flex;
      align-items: center;
      gap: 0.4375rem;
      width: 6.5625rem;
    }

    .deadline {
      width: 7.4375rem;
    }

    button {
      font-size: 0.9375rem;
      font-weight: 300;
      line-height: 1.143125rem;
      letter-spacing: -0.04em;
      color: $color-white;
      background: #302470;
      border: 0.0625rem solid #FFFFFF26;
      padding: 0.5rem 1.25rem;
      border-radius: 0.5rem;
      @include transition();

      &:hover {
        background: transparent;
        border: 0.0625rem solid $color-dark;
        color: $color-dark;
      }
    }

    a {
      font-size: 0.9375rem;
      font-weight: 300;
      line-height: 1.143125rem;
      letter-spacing: -0.04em;
      color: #302470;
      display: flex;
      align-items: center;
      gap: 0.25rem;
      justify-content: center;
      padding: 0.5rem 0.9375rem;
      border: 0.0625rem solid transparent;
      @include transition();
      border-radius: 0.5rem;

      &:hover {
        border: 0.0625rem solid #302470;
      }
    }
  }

}

// sea
.flatpickr-prev-month svg {
  display: block;
  margin-right: auto;
}

.flatpickr-next-month svg {
  display: block;
  margin-left: auto;
}