// services
.services {

  .tabs-container {
    position: relative;
    display: flex;
    gap: 60px;

    @include media('lg') {
      gap: 14px;
      flex-direction: column;
    }

    .tabs {
      width: 186px;
      flex-shrink: 0;
      display: flex;
      align-items: end;
      justify-content: center;
      flex-direction: column;
      gap: 56px;
      position: relative;

      @include media('lg') {
        padding-top: 20px;
        width: 100%;
        flex-direction: row;
        gap: 28px;
      }

      &::before {
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #E9EBEC;
        height: 100%;

        @include media('lg') {
          width: calc(100% + 40px);
          height: 1px;
          top: auto;
          bottom: 0px;
          left: -20px;
        }
      }
    }

    .tab {
      font-size: 14px;
      font-weight: 400;
      line-height: 15.4px;
      letter-spacing: -0.04em;
      color: $color-under-75;
      @include transition();
      position: relative;
      display: flex;
      align-items: center;
      gap: 13px;

      @include media('lg') {
        font-size: 12px;
        line-height: 13px;
        flex-direction: column;
      }

      .line {
        height: 1px;
        width: 7px;
        background: #0D203040;
        @include transition();

        @include media('lg') {
          width: 1px;
          height: 7px;
        }
      }

      &.active {
        // transform: scale(1.1) translateX(-6px);
        color: $color-dark;
        gap: 9px;
        font-size: 15px;
        line-height: 19px;

        @include media('lg') {
          font-size: 14px;
          line-height: 13px;
        }

        .line {
          width: 11px;
          height: 2px;
          background: $color-dark;

          @include media('lg') {
            width: 2px;
            height: 11px;
          }
        }
      }

    }

    .tab-content {
      padding: 60px 0;

      @include media('lg') {
        padding: 15px 0 20px 0;
      }
    }

    .content {
      display: none;
      flex-direction: column;
      gap: 24px;

      @include media('lg') {
        gap: 20px;
      }

      h6 {
        font-size: 42px;
        font-weight: 500;
        line-height: 46.2px;
        letter-spacing: -0.04em;
        color: $color-dark;

        @include media('lg') {
          display: none;
        }
      }

      p {
        font-size: 18px;
        font-weight: 300;
        line-height: 32.4px;
        letter-spacing: -0.02em;
        color: $color-dark;

        @include media('lg') {
          font-size: 12px;
          line-height: 21px;
        }
      }

      img {
        border-radius: 4px;
        height: 509px;
        width: 100%;
        object-fit: cover;

        @include media('lg') {
          height: 350px;
        }

        @include media('md') {
          height: 260px;
        }
      }

      .white_btn {
        font-size: 18px;
        font-weight: 300;
        line-height: 21.94px;
        letter-spacing: -0.04em;
        display: flex;
        align-items: center;
        gap: 7px;
        border-radius: 4px;
        border: 1px solid #0D203026;
        padding: 20px 34px;
        width: max-content;
        @include transition();

        @include media('lg') {
          padding: 12px;
          width: 100%;
          justify-content: center;
          font-size: 12px;
          line-height: 14px;
        }

        svg {
          path {
            @include transition();
          }

          @include media('lg') {
            width: 12px;
            height: 12px;
          }
        }

        &:hover {
          background: #302470;
          color: $color-white;

          svg {
            path {
              stroke: $color-white;
            }
          }
        }
      }
    }

    .content.active {
      display: flex;
    }
  }
}
// services
